<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Profile</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">   
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <form role="form">
                            <div class="form-group">
                                <label>Username</label>
                                <input ng-model="profile.username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Firstname</label>
                                <input ng-model="profile.firstname" class="form-control">
                            </div>                        
                            <div class="form-group">
                                <label>Lastname</label>
                                <input ng-model="profile.lastname" class="form-control">
                            </div>                        
                            <div class="form-group">
                                <label>Description</label>
                                <textarea ng-model="profile.description" class="form-control" rows="3"></textarea>
                            </div>
                            <button type="submit" ng-click="saveProfile()" class="btn btn-default">Submit Button</button>

                        </form>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="alert alert-success" ng-show="saveStatus">
                            {{ saveStatus }}
                        </div>                        
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    
</div>

