<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Profile</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ profile.username }}
            </div>
            <div class="panel-body">
                <p>name: {{ profile.firstname }} {{ profile.lastname }} </p>
                <p>description: {{ profile.description }}</p>
            </div>
            <div class="panel-footer">
                <a ui-sref="editprofile"></i>Edit</a>
            </div>
        </div>
    </div>
</div>
