<div class="row">
  	<div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">      	 
          <div class="well">
			<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>
			  <h4>Sign up</h4>
			  
			  <div class="field">
				<%= f.label :email %>
				<%= f.email_field :email, autofocus: true, class: "form-control"  %>
			  </div>

			  <div class="form-group">
				<%= f.label :password %>
				<% if @validatable %>
				<em>(<%= @minimum_password_length %> characters minimum)</em>
				<% end %>
				<%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
			  </div>

			  <div class="form-group">
				<%= f.label :password_confirmation %>
				<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control"  %>
			  </div>

			  <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i> Sign Up</button>

			<% end %>		  
		</div>
	</div>
</div>


