
<!--<div id="wrapper">-->

    <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0" ng-controller="MenuCtrl">

      
    <div class="navbar-header">                   
      <a href="#" class="navbar-brand">Cracker Jack</a>         
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>      
    </div>
      
    <ul class="nav navbar-top-links navbar-right">
      <!--<% if user_signed_in? %>
        <li><a href="#"><i class="glyphicon glyphicon-user"></i> <%=  current_user.email %></a></li>
        <li><%= link_to(destroy_user_session_path, :method => :delete) do %><i class="glyphicon glyphicon-remove"></i> Sign Out<% end %></li>
      <% else %>
      <li><%= link_to(new_user_session_path) do %><i class="glyphicon glyphicon-ok"></i> Sign In<% end %></li>
      <li><%= link_to(new_user_registration_path) do %><i class="glyphicon glyphicon-user"></i> Sign Up<% end %></li>
      <% end %>
      -->
      <% if user_signed_in? %>
        <li class="dropdown"  dropdown>
          <a class="dropdown-toggle" dropdown-toggle href="#">
              <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to(destroy_user_session_path, :method => :delete) do %><i class="fa fa-sign-out fa-fw"></i> Logout<% end %>
            </li>  
          </ul>
            <!-- /.dropdown-user -->
        </li>
      <% end %>

    </ul>

    <div ng-include="'Menu/_menu.html'" class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true"></div>
 			
          <!-- /.navbar-static-side -->
  </nav>      
    
  <div id="page-wrapper" ui-view autoscroll="true">

      <!--Here is the content-->

      <!-- /.row -->
  </div>
    <!-- /#page-wrapper -->

<!--</div> -->
<!-- /#wrapper -->
<!-- jQuery -->
<!--
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
-->
<!-- Angular -->
<!--
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
-->
<!-- Bootstrap Core JavaScript -->
<!--
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
-->
<!-- Metis Menu Plugin JavaScript -->
<!--
<script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>
-->
<!-- Morris Charts JavaScript -->
<!--
<script src="../bower_components/raphael/raphael-min.js"></script>
-->
<!-- Custom Theme JavaScript -->
<!--
<script src="../dist/js/sb-admin-2.js"></script>
-->
<!-- angular app -->
<!--
<script src="../app/app.js"></script>
<script src="../app/Menu/MenuController.js"></script>
<script src="../app/Dashboard/DashboardController.js"></script>
<script src="../app/Subscriptions/SubscriptionsController.js"></script>
<script src="../app/Profile/ProfileController.js"></script>
-->