<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <fieldset>
                            <div class="form-group">
                                 <%= f.label :email %>
                                 <%= f.email_field :email, autofocus: true, class: "form-control" %>
                           </div>
                            <div class="form-group">
                                 <%= f.label :password %>
                                 <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                           </div>
                            <% if devise_mapping.rememberable? -%>
                                 <div class="field">
                                   <%= f.check_box :remember_me %>
                                   <%= f.label :remember_me %>
                                 </div>
                           <% end -%>
                            <!-- Change this to a button or input when using this as a form -->
                            <button type="submit" class="btn btn-lg btn-success btn-block"></i>Login</button>
                        </fieldset>
                    <% end -%>
                    <div class="form-control-static">
                      <%- flash.each do |name, msg| -%>
                        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
                      <%- end -%> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>