<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="modal-header">
    <h3 class="modal-title">New Service</h3>
</div>
<div class="modal-body">
    
    <form role="form">
        <div class="form-group">
            <label>Name</label>
            <input ng-model="service.name" class="form-control">
        </div>
        <div class="form-group">
            <label>Description</label>
            <textarea ng-model="service.description" class="form-control" rows="3"></textarea>
        </div>
        <div>Rates:</div>
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Weekly</label>
                    <input type="number" ng-model="service.week" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Monthly</label>
                    <input type="number" ng-model="service.month" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    <label>Yearly</label>
                    <input type="number" ng-model="service.year" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <!--<button class="btn btn-primary" ng-click="ok()">OK</button>-->
    <button type="submit" ng-click="saveService()" class="btn btn-primary">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
