<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Services</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-4" ng-repeat="service in services">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ service.name }}
                <div class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="deleteService(service)">Delete</button>
                </div>
            </div>
            <div class="panel-body">
                <p>description: {{ service.description }}</p>
                <p>rates</p>
                <p>weekly: {{ service.week }}</p>
                <p>monthly: {{ service.month }}</p>
                <p>yearly: {{ service.year }}</p>
            </div>
            <div class="panel-footer">
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!--
    <script type="text/ng-template" id="myModal.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            {{ message }}
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    -->
    <button class="btn btn-default" ng-click="open()">New Service</button>
    
</div>
