<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Cracker Jack</title>
	<meta name="generator" content="Bootply" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <%= stylesheet_link_tag    'application', media: 'all' %>
        <!-- Bootstrap Core CSS -->
        <!--
        <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        -->
        <!-- MetisMenu CSS -->
        <!--
        <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
        -->

        <!-- Timeline CSS -->
        <link href="../dist/css/timeline.css" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link href="../dist/css/sb-admin-2.css" rel="stylesheet">
        
        <!-- Morris Charts CSS -->
        <!--
        <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">
        -->

        <!-- Custom Fonts -->
        
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body ng-app="crackerjackApp">
  
  <!-- main container -->
  <%= yield %>
  
</body>

</html>

